<h1>Your Basket</h1>
<%= basket_path(current_user.basket) %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @basket.basket_items.each do |basket_item| %>
      <tr>
        <td><%= basket_item.product.name %></td>
        <td><%= basket_item.product.description %></td>
        <td><%= number_to_currency(basket_item.product.price / 100.0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
