<%= form_for @inventory do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <!-- Other form fields -->
  <div class="actions">
    <%= f.submit 'Update Inventory Item' %>
  </div>
<% end %>
